<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{block 'title'}}喜大普奔666{{/block}}</title>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css"/>
		<link rel="stylesheet" type="text/css" href="/default/css/base.css"/>
		{{block 'head-css'}}
			<link rel="stylesheet" type="text/css" href="/default/css/common/public.css"/>
		{{/block}}
	</head>
	<body>
		{{block 'content'}}{{/block}}
		<div class="footer">
			<div>友情链接</div>
			<div>备案编号</div>
		</div>
		<script type="text/javascript" src="/default/js/common/base.js"></script>
	</body>
</html>
